# Dependencies
node_modules/
extension/node_modules/

# Build Output
dist/
local/
extension/local/

# Archive
Archive/

# OS Files
.DS_Store
Thumbs.db

# Go Build Output
backend/bin/
bin/

# Docker
.docker/

# React Dashboard
dashboard/logs
dashboard/*.log
dashboard/dist/
dashboard/*.local
dashboard/.vscode/
dashboard/.DS_Store
dashboard/node_modules/