# Dependencies
node_modules/

# Build Output
dist/
local/

# Archive
Archive/

# OS Files
.DS_Store
Thumbs.db

# Build Output (additional)
bin/

# Docker
.docker/

# React Dashboard
dashboard/logs
dashboard/*.log
dashboard/*.local
dashboard/.vscode/

# mobile (Android)
mobile/.gradle/
mobile/build/
mobile/app/build/
mobile/local.properties

# Backend Frames
backend/frames/