# Shared snippet for CORS headers
(cors_headers) {
    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Methods "GET, POST, OPTIONS"
        Access-Control-Allow-Headers "Content-Type"
        Access-Control-Allow-Private-Network "true"
        defer
    }
    @options {
        method OPTIONS
    }
    handle @options {
        respond 204
    }
}

# Secure Endpoints (Local & Dynamic Cloud IPs)
localhost, {$PUBLIC_IP}, {$PRIVATE_IP} {
    log
    tls internal
    reverse_proxy localhost:3000
    import cors_headers
}

