# Shared snippet for CORS headers
(cors_headers) {
    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Methods "GET, POST, OPTIONS"
        Access-Control-Allow-Headers "Content-Type"
        Access-Control-Allow-Private-Network "true"
        defer
    }
    @options {
        method OPTIONS
    }
    handle @options {
        respond 204
    }
}

# 1. The DuckDNS Domain (Valid Let's Encrypt Cert via DNS Challenge)
{$DUCKDNS_DOMAIN} {
    log
    
    # Use the DNS challenge to prove ownership without opening port 80/443
    tls {
        dns duckdns {$DUCKDNS_TOKEN}
    }

    reverse_proxy localhost:3000
    import cors_headers
}

# 2. Secure Endpoints (Local & Dynamic Cloud IPs)
# Fallback access using Caddy's internal local Certificate Authority
# Note: In a production environment, this is not needed and will allow us to not be required to run "caddy trust" to add the cert to the system trust store
localhost, {$PUBLIC_IP}, {$PRIVATE_IP} {
    log
    tls internal
    reverse_proxy localhost:3000
    import cors_headers
}
